<div class="jumbotron text-center">
    <h1><i>High Time</i></h1>
    <h3>A site for calculating half-life</h3>
</div>
<div class="i">
<iframe width="1200" height="1000" frameborder="0" scrolling="no" 
src="https://onedrive.live.com/embed?cid=94E2ABC77FCD2F2E&resid=
94E2ABC77FCD2F2E%21106&authkey=ACt35tqC4XyoAnI&em=2&AllowInteractivity=True&
AllowTyping=True&wdHideGridlines=True&wdHideHeaders=True&wdDownloadButton=False"></iframe>
</div>

<div class="center" id="pay">
    <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
        <input type="hidden" name="cmd" value="_s-xclick">
        <input type="hidden" name="hosted_button_id" value="FMBRMWGTNZNYQ">
        <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donateCC_LG.gif" border="0" name="submit" 
        alt="PayPal - The safer, easier way to pay online!">
        <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
    </form>
</div>
<h6>High Time has been developed for educational and simulation purposes only. We do not condone, nor advocate any actions on part of the user.</h6>
<!--<a href="https://www.paypal.com/us/cgi-bin/webscr?cmd=_flow&SESSION=ZykqYHd5f4MkI-MDO4tx15oRwQnAHEYco36EQO3PErpf_
  bjug3eotI5FZNq&dispatch=5885d80a13c0db1f8e263663d3faee8de6030e9239419d79c3f52f70a3ed57ec">
  <div class="btn-group" role="group" aria-label="...">
      <button type="button" class="btn btn-success">Donate</button>
  </div>
</a>-->